body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.column {
 margin:0px auto;
  width: 50%;
  color:white;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

#Username {
	border: none;
	border-bottom: 1px solid;
}

.screen {
	width: 100%;
	height: 20px;
	background: #4388cc;
	color: #fff;
	line-height: 20px;
	font-size: 15px;
	text-align: center;
}

.smallBox::before {
	content: ".";
	width: 15px;
	height: 15px;
	float: left;
	margin-right: 10px;
}

.greenBox::before {
	content: "";
	background: Green;
}

.redBox::before {
	content: "";
	background: Red;
}

.emptyBox::before {content ="";
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px
		rgba(255, 255, 255, .8);
	background-color: #ccc;
}

.seats {
	border: 1px solid red;
	background: yellow;
}

.seatGap {
	width: 40px;
}

.seatVGap {
	height: 40px;
}

.soled {
	margin-top: 2px; width: 15px; height: 15px; background: Red;
}
.csbtn,.buybtn
{
	background: #239fe2;
	border: 1px solid #51a6c1;
	padding: 5px 15px 5px 15px;
	color: #FFCBE2;
	box-shadow: inset -1px -1px 3px #36a0da;
	-moz-box-shadow: inset -1px -1px 3px #36a0da;
	-webkit-box-shadow: inset -1px -1px 3px #36a0da;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	font-weight: bold;
}

input{
	text-align: center;
}

table.Displaytable
{
	margin:0px auto;
	padding:5px;
	color:black;
	border-collapse: collapse;
	background-color: #EEEEEE;
}

table.Displaytable tr
{
	padding:10px;
}

table.Displaytable td, table.Displaytable th {
  border: 1px solid #AAAAAA;
  padding: 5px;
}


table.Displaytable tr th {
  font-size: 18px;
  text-align:center;
  color:white;
}
table.Displaytable tr td {
  font-size: 16px;
  text-align:center;
  color:black;
}
table.Displaytable tr td a {
  font-size: 16px;
  text-align:center;
  color:blue;
  text-decoration:none;
}

table.Displaytable tr:nth-child(even) {
  background: #D0E4F5;
}
textarea {
	border: none;
	background: transparent;
}

input[type=checkbox] {
	width: 0px;
	margin-right: 18px;
}

input[type=checkbox]:before {
	content: "";
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px
		rgba(255, 255, 255, .8);
	background-color: #ccc;
}

input[type=checkbox]:checked:before {
	background-color: Green;
	font-size: 15px;
}

input[disabled=checkbox]:disabled {
    background-color: red;
    font-size: 15px;
}