.cardWrap {
	width: 50em;
	margin: 3em 250px;
	color: #fff;
	font-family: sans-serif;
}

.card {
	background: linear-gradient(to bottom, #e84c3d 0%, #e84c3d 26%, #ecedef 26%, #ecedef
		100%);
	background: -moz-linear-gradient(to bottom, #e84c3d 0%, #e84c3d 26%, #ecedef 26%,
		#ecedef 100%);
	background: -webkit-linear-gradient(to bottom, #e84c3d 0%, #e84c3d 26%, #ecedef 26%,
		#ecedef 100%);
	height: 18em;
	float: left;
	position: relative;
	padding: 4em 1em;
	margin: 5px 0px 25px 0px;
}
.card > h1{
	height: 20px;
}

.cardLeft {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	width: 22em;
}

.cardRight {
	width:8.5em;
	border-left: .18em dashed #fff;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px; &: before , & : after {
    content : "";
	position: absolute;
	display: block;
	width: .9em;
	height: .9em;
	background: #fff;
	border-radius: 50%;
	left: -.5em;
}

&
:before {
	top: -.4em;
}

&
:after {
	bottom: -.4em;
}

}
h1 {
	font-size: 1.4em;
	margin-top: 0;
}

.cardWrapspan {
	font-weight: normal;
	margin: 2px;
}

.title, .name, .seat, .time, .screen, .theater ,.date{
	text-transform: uppercase;
	font-weight: normal;
}

h2 {
	font-size: .9em;
	color: #525252;
	margin: 0;
}

span {
	font-size: .7em;
	color: #a2aeae;
}

.title {
	margin: 2em 0 0 0;
}

.name, .seat,.time, .screen, .theater ,.date {
	margin: .7em 0 0 0;
}

.seat, .time {
	float: left;
}

.eye {
	position: relative;
	width: 2em;
	height: 1.5em;
	background: #fff;
	margin: 0 auto;
	border-radius: 1em/0.6em;
	z-index: 1; &: before , & : after {
    content : "";
	display: block;
	position: absolute;
	border-radius: 50%;
}

&
:before {
	width: 1em;
	height: 1em;
	background: #e84c3d;
	z-index: 2;
	left: 8px;
	top: 4px;
}

&
:after {
	width: .5em;
	height: .5em;
	background: #fff;
	z-index: 3;
	left: 12px;
	top: 8px;
}

}
.number {
	text-align: center;
	text-transform: uppercase;
}

h3 {
	color: #e84c3d;
	margin: 3.5em 0 0 0;
	font-size: 1.5em;
}


.barcode {
	height: 2em;
	width: 0;
	margin: 1.2em 0 0 .8em;
	box-shadow: 1px 0 0 1px #343434, 5px 0 0 1px #343434, 10px 0 0 1px
		#343434, 11px 0 0 1px #343434, 15px 0 0 1px #343434, 18px 0 0 1px
		#343434, 22px 0 0 1px #343434, 23px 0 0 1px #343434, 26px 0 0 1px
		#343434, 30px 0 0 1px #343434, 35px 0 0 1px #343434, 37px 0 0 1px
		#343434, 41px 0 0 1px #343434, 44px 0 0 1px #343434, 47px 0 0 1px
		#343434, 51px 0 0 1px #343434, 56px 0 0 1px #343434, 59px 0 0 1px
		#343434, 64px 0 0 1px #343434, 68px 0 0 1px #343434, 72px 0 0 1px
		#343434, 74px 0 0 1px #343434, 77px 0 0 1px #343434, 81px 0 0 1px
		#343434;
	-webkit-box-shadow: 1px 0 0 1px #343434, 5px 0 0 1px #343434, 10px 0 0
		1px #343434, 11px 0 0 1px #343434, 15px 0 0 1px #343434, 18px 0 0 1px
		#343434, 22px 0 0 1px #343434, 23px 0 0 1px #343434, 26px 0 0 1px
		#343434, 30px 0 0 1px #343434, 35px 0 0 1px #343434, 37px 0 0 1px
		#343434, 41px 0 0 1px #343434, 44px 0 0 1px #343434, 47px 0 0 1px
		#343434, 51px 0 0 1px #343434, 56px 0 0 1px #343434, 59px 0 0 1px
		#343434, 64px 0 0 1px #343434, 68px 0 0 1px #343434, 72px 0 0 1px
		#343434, 74px 0 0 1px #343434, 77px 0 0 1px #343434, 81px 0 0 1px
		#343434;
	-moz-box-shadow: 1px 0 0 1px #343434, 5px 0 0 1px #343434, 10px 0 0 1px
		#343434, 11px 0 0 1px #343434, 15px 0 0 1px #343434, 18px 0 0 1px
		#343434, 22px 0 0 1px #343434, 23px 0 0 1px #343434, 26px 0 0 1px
		#343434, 30px 0 0 1px #343434, 35px 0 0 1px #343434, 37px 0 0 1px
		#343434, 41px 0 0 1px #343434, 44px 0 0 1px #343434, 47px 0 0 1px
		#343434, 51px 0 0 1px #343434, 56px 0 0 1px #343434, 59px 0 0 1px
		#343434, 64px 0 0 1px #343434, 68px 0 0 1px #343434, 72px 0 0 1px
		#343434, 74px 0 0 1px #343434, 77px 0 0 1px #343434, 81px 0 0 1px
		#343434;
}
h3#seat
{
	word-wrap: break-word;
	line-height: 25px;
}

