<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/formstyle.css" rel="stylesheet" type="text/css" />
<link href="css/tablestyle.css" rel="stylesheet" type="text/css" />
<title>Enjoy Your Show</title>
</head>
<body>
<link href="css/ticketcss.css" rel="stylesheet" type="text/css" />
	<div class="cardWrap">
		<div class="card cardLeft">
			<h1>
				Cinema <span>World</span>
			</h1>
			<div class="title">
				<h2>Movie Name</h2>
				<span></span>
			</div>
			<div class="name">
				<h2>Customer Full Name</h2>
				<span></span>
			</div>
			<div class="screen">
				<h2>Screen Name</h2>
				<span></span>
			</div>
			<div class="theater">
				<h2> Theatre Name, Theatre Location</h2>
				<span> </span>
			</div>
			<div class="date">
				<h2>Show Date</h2>
				<span></span>				
				
			</div>
			<div class="time">
				<h2>Start Time</h2>
				<span></span>
			</div>
			

		</div>
		<div class="card cardRight">
			<div class="eye"></div>
			<div class="number">
				<h3 id="seat">Booking Seats</h3>
				<span></span>
			</div>
			<div class="barcode"></div>
		</div>

	</div>
</body>
</html>